@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}

html,
body,
#root {
    height: 100%;
}

ul,
ol {
    margin-left: 15px;
}

.ant-tabs {
    .ant-tabs-nav-list {
        @apply w-full;
    }

    .ant-tabs-nav {
        display: block;
    }

    .ant-tabs-tab {
        @apply flex-1;
    }

    .ant-tabs-tab-btn {
        @apply w-full text-center;
    }
    .ant-tabs-content-holder {
        padding: 19px;
    }

    .ant-tabs-content-holder img {
        max-width: 100%;
        object-fit: cover;
    }

    &.ant-tabs-card {
        .ant-tabs-content-holder {
            margin-top: -17px;
            border: 1px solid #f0f0f0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

.ant-tabs:not(.ant-tabs-card) {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}

.ant-alert {
    padding: 15px 12px;
    font-size: 15px;
}

.ant-ribbon {
    @media (max-width: 630px) {
        position: static;
    }
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}
.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-7 {
    margin-bottom: 1.75rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.ml-3 {
    margin-left: 0.75rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-\[70px\] {
    margin-top: 70px;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.table {
    display: table;
}
.hidden {
    display: none;
}
.h-\[300px\] {
    height: 300px;
}
.h-\[calc\(100vh-64px\)\] {
    height: calc(100vh - 64px);
}
.min-h-full {
    min-height: 100%;
}
.w-60 {
    width: 15rem;
}
.w-full {
    width: 100%;
}
.max-w-\[1500px\] {
    max-width: 1500px;
}
.max-w-screen-2xl {
    max-width: 1536px;
}
.max-w-xl {
    max-width: 36rem;
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-col {
    flex-direction: column;
}
.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-20 {
    gap: 5rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-5 {
    gap: 1.25rem;
}
.border-red-300 {
    --tw-border-opacity: 1;
    border-color: rgb(252 165 165 / var(--tw-border-opacity));
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.p-5 {
    padding: 1.25rem;
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.text-center {
    text-align: center;
}
.align-middle {
    vertical-align: middle;
}
.text-2xl {
    font-size: 1.563rem;
}
.text-3xl {
    font-size: 1.953rem;
}
.text-5xl {
    font-size: 3.052rem;
}
.text-base {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-xl {
    font-size: 1.25rem;
}
.italic {
    font-style: italic;
}
.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity));
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
}
html,
body,
#root {
    height: 100%;
}
ul,
ol {
    margin-left: 15px;
}
.ant-tabs .ant-tabs-nav-list {
    width: 100%;
}
.ant-tabs .ant-tabs-nav {
    display: block;
}
.ant-tabs .ant-tabs-tab {
    flex: 1 1 0%;
}
.ant-tabs .ant-tabs-tab-btn {
    width: 100%;
    text-align: center;
}
.ant-tabs .ant-tabs-content-holder {
    padding: 19px;
}
.ant-tabs .ant-tabs-content-holder img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.ant-tabs.ant-tabs-card .ant-tabs-content-holder {
    margin-top: -17px;
    border: 1px solid #f0f0f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.ant-tabs:not(.ant-tabs-card) {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}
.ant-alert {
    padding: 15px 12px;
    font-size: 15px;
}
@media (max-width: 630px) {
    .ant-ribbon {
        position: static;
    }
}
@media (min-width: 640px) {
    .sm\:flex-row {
        flex-direction: row;
    }
    .sm\:items-center {
        align-items: center;
    }
}
@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:items-end {
        align-items: flex-end;
    }
    .md\:items-center {
        align-items: center;
    }
}
@media (min-width: 1280px) {
    .xl\:mt-\[170px\] {
        margin-top: 170px;
    }
    .xl\:h-full {
        height: 100%;
    }
    .xl\:w-\[20\%\] {
        width: 20%;
    }
    .xl\:w-\[60\%\] {
        width: 60%;
    }
    .xl\:flex-row {
        flex-direction: row;
    }
    .xl\:text-left {
        text-align: left;
    }
    .xl\:text-4xl {
        font-size: 2.441rem;
    }
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar .logo {
    color: white;
    float: left;
    margin-right: 5px;
    font-size: 1.125rem; /* Equivalent to text-lg */
}

.navbar .linkWrapper {
    padding: 0;

    &.lastInLeftCol {
        margin-left: auto;
    }
}

.navbar .linkWrapper .link {
    display: block;
    height: 100%;
    padding: 0 1rem; /* Equivalent to px-4 */

    &.active {
        background-color: #3b82f6; /* Equivalent to bg-blue-500 */
        color: white;
    }
}

.Created {
    color: #718096;
}

.OpenForAssigning {
    color: #48bb78;
}

.Started {
    color: #4299e1;
}

.Finished {
    color: #e53e3e;
}